{% extends "base.html" %}
    {% block title %}{{  collection_name  }}{% endblock %}
{% block content %}
<center>
    <table border="10" >
        <CAPTION><h4>{{  collection_name  }}</h4></CAPTION>
        <tr ALIGN=center bgcolor="gray">
            <th>Token ID</th>
            <th>Floor price</th>
            <th>Rarity rank</th>

        </tr>
        {% for nft in nft_data %}
            <tr ALIGN=center>
                <td>{{ nft.token_id }}</td>
                <td>{{ nft.nft_price }} CRO</td>
                <td>{{ nft.rarity_rank }}</td>
            </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}
